<div>
	{{#if label}}<label for='{{id}}'>{{{label}}} {{#if required}}<small>*required</small>{{/if}}</label>{{/if}}
	<input type='text' name='{{name}}' id='{{id}}' value='{{val}}' class="{{class}}" {{#if required}}required{{/if}}/>
</div>